html, body{
    height: 100%;
    font-family: 'Jura', sans-serif;

}

/* Map */
#mapid {
    height: 800px;
}
  
/* Add your Truck Form */
.form-control {
    width: 300px;
}
  
/* Food Trucks List */
#food-trucks-list {
    width: 200px;
}
  
/* Log In & Sign Up */  
.header, .footer{
    background-color: #011377;
}

.footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
  
.buttons{
    float:right;
      
}
.btn{
    background-color: transparent;
    border: none;
    line-height: 75px;
    vertical-align: bottom;
}

.content{
    min-height: 100%;
    padding-bottom: 50px;
}

#main-landing{
    background: #ffffff url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}


#search{
    background-color: transparent;
}

label {
    margin-right: 30px;
}

/* Account Page */
.btn-account:hover, .btn-account:active, .btn-account:focus {
    background-color: #fff;
    border-color: #011377;
    color: #011377;
    line-height: 20px;
    margin-top: 45px;
}

.btn-account:active:focus {
    background-color: #0250C3;
    color: #fff;
    border: #fff;
}

input[type=checkbox] {
    margin-right: 3px;
}

.account-submit {
    background-color: #011377;
    color: #fff;
    border: #fff solid 1px;
}

.account-submit:hover {
    background-color: #fff;
    color: #011377;
    border: #011377 solid 1px;
}

.account-submit:hover:focus {
    background-color: #011377;
    color: #fff;
    border: #011377 solid 1px;
}

.btn-account {
    margin-top: 15px;
}

/* Landing Page */
.btn-header:hover, .btn-header:active, .btn-header:focus {
    background-color: #fff;
    border: #011377;
    color: #011377;
    line-height: 1;
    margin-bottom: 30px;
}

.btn-header:focus:active {
    background-color: #0250C3;
    color: #fff;
    border: #fff;
}

/* Login Page */
.sign-up-btn, .sign-up-btn:focus:active {
    line-height: 20px;
    background-color: #011377;
    color: #fff;
    border: #011377 1px solid;
}

.sign-up-btn:hover, .sign-up-btn:active, .sign-up-btn:focus {
    background-color: #fff;
    color: #011377;
    border: #011377 1px solid;
}


