html, body{
    height: 100%;
    font-family: 'Jura', sans-serif;

}

/* Map */
#mapid {
    height: 800px;
}
  
/* Add your Truck Form */
.form-control {
    width: 300px;
}
  
/* Food Trucks List */
#food-trucks-list {
    width: 200px;
}
  
/* Log In & Sign Up */  
.header, .footer{
    background-color: #011377;
}

.footer {
    height: 50px;
    margin-top: -50px;
}
  
.buttons{
    float:right;
      
}
.btn{
    background-color: transparent;
    border: none;
    line-height: 75px;
    vertical-align: bottom;
}

.content{
    min-height: 100%;
    padding-bottom: 50px;
}

#main-landing{
    background: #ffffff url("../img/bg.jpg") no-repeat fixed center; 
}

#search{
    background-color: transparent;
}